<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Page-specific information -->
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="robots" content="index,follow">
		<link rel="author" href="humans.txt">

		<!-- Linked resource(s) -->
		<link rel="stylesheet" type="text/css" media="all" href="css/style.css">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
		<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#1a1aff">
		<link rel="manifest" href="/manifest.json">
  </head>
  <body class="home">

{% include _globals/skip-link %}

{% include _globals/header %}

{% include _globals/navigation %}

		<main id="content">