		<!--
			-- Accessible Mobile Navigation
			-- 
			-- http://www.a11ymatters.com/pattern/mobile-nav/
			-->
		<nav role="navigation" class="container navigation">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="components.html">Components</a></li>
				<li><a href="templates.html">Templates</a></li>
				<li><a href="kitchen-sink.html">Kitchen Sink</a></li>
			</ul>
		</nav><!-- .container .navigation -->