		<header role="banner" class="container site-header">
			<h1 class="site-title">
				<a class="site-title__link" href="/">
					{{ site.title }}
				</a>
			</h1>
			<p class="site-description">Lead Front-End Web Developer, <span class="no-break">Web Designer</span></p>
		</header>