---
title: Paul Shryock
description: Reboot of my personal website, pshry.com. Starting from scratch without reinventing the wheel.
---
{% include _globals/head %}

			<article>
				<header class="container">
					<h2 class="post-title">{{ title }}</h2>
				</header><!-- .container -->
				<div class="container post-content">
					<p>{{ content }}</p>
				</div><!-- .container .post-content -->
			</article>

{% include _globals/foot %}