---
title:
excerpt:
date: // example: 2018-12-02T00:00:00-5, defaults to creation page.date
featured_image: '' // optional
featured_image_alt: // optional
topics: [ ] // defaults to Front End Development

seo_title: // defaults to title
seo_description: // defaults to excerpt

permalink: // defaults to ./{{ title | slug }}/index.html
layout: // defaults to _layouts/single
body_class: [ ] // defaults to single article
tags: // defaults to article
---