---
title:
excerpt:
date: // example: 2018-12-02T00:00:00-5, defaults to creation page.date
cover_image: '' // optional
cover_image_alt: // optional
topics: [ ] // defaults to Front End Development

seo_title: // defaults to title
seo_description: // defaults to excerpt

permalink: // defaults to ./{{ title | slug }}/index.html
content_type: // defaults to article
layout: // defaults to _layouts/article
body_class: [ ] // defaults to single article
tags: // defaults to article
---